@tailwind base;
@tailwind components;
@tailwind utilities;

.parent :nth-child(3) :nth-child(2) {
  display: block;
}

.parent :nth-child(5) :nth-child(3) {
  display: block;
  left: -84px;
}

.custom-shadow {
  box-shadow: 0px 2px 8px rgba(26, 24, 30, 0.06);
}

@font-face {
  font-family: "Galano Grotesque Regular";
  src: url("../public/font/galanogrotesque-regular.otf");
}

@font-face {
  font-family: "Galano Grotesque Medium";
  src: url("../public/font/galanogrotesque-medium.otf");
}

@font-face {
  font-family: "Galano Grotesque Semibold";
  src: url("../public/font/galanogrotesque-semibold.otf");
}
