@tailwind base;
@tailwind components;
@tailwind utilities;

.parent :nth-child(3) :nth-child(2) {
  display: block;
}

.parent :nth-child(5) :nth-child(3) {
  display: block;
  left: -84px;
}

.custom-shadow {
  box-shadow: 0px 2px 8px rgba(26, 24, 30, 0.06);
}

@font-face {
  font-family: "GalanoRegular";
  src: url("../public/font/galanogrotesque-regular.otf");
}

@font-face {
  font-family: "GalanoMedium";
  src: url("../public/font/galanogrotesque-medium.otf");
}

@font-face {
  font-family: "GalanoSemibold";
  src: url("../public/font/galanogrotesque-semibold.otf");
}

.galanoRegular {
  font-family: GalanoRegular;
}

.galanoMedium {
  font-family: GalanoMedium;
}

.galanoSemibold {
  font-family: GalanoSemibold;
}
